<!DOCTYPE html>
<html>

<head>
  <title>Caos News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Importamos los estilos de Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="../custom-styles.css">
  <script src="../scripts/logindinamico.js"></script>
  <script src="../scripts/indicador.js"></script>
</head>

<body>
  <!-- Barra navegadora -->
  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"><img src="../../static/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../caosnews/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../caosnews/categorias.html">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../caosnews/periodistas.html">Periodistas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../caosnews/./contacto.html">Contactanos</a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="navbar-nav">
            <li>
              <p class="indicador-economico" id="UF"></p>
            </li>
            <li class="nav-item">
              <form class="d-flex">
                <div class="input-group me-2">
                  <input class="form-control" style="width: 326px;" type="search"
                    placeholder="Buscar por Autor, Categoria o palabra clave"
                    aria-label="Buscar por Autor, Categoria o palabra clave">
                  <button class="btn btn-danger" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
            <li class="nav-item"></li>
              <!-- Item de inicio de sesion -->
              <div id="logindinamico"></div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <!-- Imagen Principal -->
    <div class="container-fluid p-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./noticia1_boric.jpg" class="d-block w-100" alt="Imagen 1">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contenido principal -->
    <div class="container mt-5" style="height: 80vh;">
      <h1>Boric responde a ministra de la Corte Suprema por isapres: “Es importante que los jueces hablen a través de los fallos y no entrevistas”</h1>
      <p><i class="fas fa-tags"></i>Política</p>
      <p>Autor: Juan Urrutia</p>
      <p class="cuerpo-noticia">
        El mandatario señaló que presentarán un recurso de aclaración tras la entrevista de la ministra Ángela Vivanco que señaló que “los excedentes que las 
        isapres tienen que devolver son a las personas que demandaron”.
      </p>
      <p class="cuerpo-noticia">
        El Presidente Gabriel Boric dio esta noche una entrevista a Chilevisión, la primera después de la cuenta pública del pasado jueves 1 de junio.
      </p>

      <p class="cuerpo-noticia">
        El mandatario se refirió a las declaraciones de la ministra de la Corte Suprema, Ángela Vivanco quien hoy en entrevista con La Tercera y ante la consulta de 
        si la aplicación del fallo de la Corte Suprema que obliga a las isapres a pagar 1.400 millones de dólares por excedentes incluye a todos los afiliados -entre ellos, 
        quienes nunca han recurrido a tribunales- señaló que “al no haber nunca usted demandado, no tiene nada hacia atrás que cobrar. Los excedentes que las isapres 
        tienen que devolver son a las personas que demandaron. Lo que sí, el resto de los afiliados, a partir de este fallo, pueden exigir que se les ajusten sus 
        planes hacia adelante”.
      </p>
      <img src="./boric.jpg" class="d-block w-100" alt="Imagen 2">
      <p class="cuerpo-noticia">
        El mandatario señaló, en este sentido, que “es importante que los jueces hablen a través de los fallos y no de entrevistas”  y que “vamos a presentar 
        un recurso de aclaración”, agregando “que todos entendíamos” que el fallo era para todos.
      </p>
      <p class="cuerpo-noticia">
        El mandatario agregó que “el fallo tiene que respetarse” y que como gobierno están dispuestos  a establecer modificaciones a la ley corta que establece 
        que las isapres deben ajustar de inmediato la tabla de factores con el fin de devolver los excedentes.  
      </p>
      <p class="cuerpo-noticia">
        Crisis de seguridad. En relación a la crisis de seguridad, señaló que “las prioridades de la sociedad chilena han cambiado y la crisis de seguridad 
        alcanzó una relevancia mucho mayor por los delitos violentos que nos obligan a actuar”. “Yo no estoy cambiando de opinión respecto a los temas… 
        mantengo una consistencia por los principios opero las prioridades tienen que ir con las prioridades del pueblo”.
      </p>
      <p class="cuerpo-noticia">
        Frases grandilocuentes. Además, señaló que “no me arrepiento ni un segundo ” por haber levantado la voz contra las violaciones a los Derechos Humanos 
        de las policías”, pero que “en la pasión del momento las frases grandilocuentes no ayudan a resolver la complejidad de los problemas y yo tuve 
        muchas frases grandilocuentes”.
      </p>
      <p class="cuerpo-noticia">
        Proceso constituyente. El mandatario dijo que estaría dispuesto a aprobar la nueva Constitución, cuyo texto preliminar entregará esta semana la Comisión 
        de Expertos a la nueva Convención elegida el pasado 7 de mayo.
      </p>
      <div>
        <footer class="bg-dark text-center text-lg-start">
          <!-- Copyright -->
          <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0);">
            <p style="color: rgb(138, 138, 138);">© 2023 Copyright. Desarrollado por Hurub+.</p>
          </div>
        </footer>
      </div>
    </div>
  </div>
  


      <!-- Importamos los scripts de Bootstrap -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
  
  </html>